@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(214deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  height: 100vh;
}

.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0.85rem;
}

.button-style-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0.85rem;
  @media (min-width: 459px) {
    padding: 1.4rem;
  }
}

.background-image {
  background-position: center;
  background-size: 15rem;
  background-repeat: no-repeat;
}

.animate-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
